USE [GP_Reports]
GO
/****** Object:  Table [dbo].[WikiTags]    Script Date: 04.02.2023 17:55:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WikiTags](
	[ID] [int] NOT NULL,
	[TagName] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_WikiTags] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[WikiTags] ADD  CONSTRAINT [DF_WikiTags_ID]  DEFAULT (NEXT VALUE FOR [WikiTagsID_seq]) FOR [ID]
GO
